<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-2.5.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
    <!-- 引入外部的属性文件 -->
    <!--<context:property-placeholder location="classpath:jdbc.properties"/>-->
    <!-- 配置连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/lunece"></property>
        <property name="user" value="root"></property>
        <property name="password" value="1234"></property>
    </bean>
    <!--&lt;!&ndash; 配置hibernate的相关属性 &ndash;&gt;-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <!-- 注入连接池 -->
        <property name="dataSource" ref="dataSource"></property>
        <!-- 加载hibernate相关属性 -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <!-- 加载hibernate中的映射文件 -->
        <!--<property name="mappingResources">-->
        <!--<list>-->
        <!--<value>com/njust/lucene/domain/Department.hbm.xml</value>-->
        <!--<value>com/njust/lucene/domain/Employee.hbm.xml</value>-->
        <!--<value>com/njust/lucene/domain/User.hbm.xml</value>-->
        <!--</list>-->
        <!--</property>-->
    </bean>

    <!--配置Action的类:prototype多例的-->
    <bean id="luceneAction" class="com.njust.lucene.action.LuceneAction" scope="prototype">
        <property name="luceneService" ref="luceneService"></property>
    </bean>
    <!--<bean id="departmentAction" class="com.njust.lucene.action.DepartmentAction" scope="prototype">-->
    <!--<property name="departmentService" ref="departmentService"/>-->
    <!--</bean>-->
    <!--<bean id="userAction" class="com.njust.lucene.action.UserAction" scope="prototype">-->
    <!--<property name="userService" ref="userService"/>-->
    <!--</bean>-->
    <!--配置Service的类-->
    <bean id ="luceneService" class="com.njust.lucene.service.LuceneService"></bean>
    <!--<bean id="departmentService" class="com.njust.lucene.service.impl.DepartmentServiceImpl">-->
    <!--<property name="departmentDao" ref="departmentDao"/>-->
    <!--</bean>-->
    <!--<bean id="userService" class="com.njust.lucene.service.impl.UserServiceImpl">-->
    <!--<property name="userDao" ref="userDao"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;配置DAO&ndash;&gt;-->
    <!--<bean id ="employeeDao" class="com.njust.lucene.dao.impl.EmployeeDaoImpl">-->
    <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->
    <!--<bean id="departmentDao" class="com.njust.lucene.dao.impl.DepartmentDaoImpl">-->
    <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->
    <!--<bean id="userDao" class="com.njust.lucene.dao.impl.UserDaoImpl">-->
    <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->

    <!-- 配置事务管理 -->
    <bean id="transaction" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- 开启注解事务 -->
    <tx:annotation-driven transaction-manager="transaction"></tx:annotation-driven>


    <!-- 基于配置文件的aop -->
    <!--<bean id ="accessToken" class="com.njust.lucene.aspect.AccessTokenAspect"/>-->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->
    <!--<aop:config>-->
    <!--<aop:aspect ref="accessToken">-->
    <!--<aop:around method="around" pointcut="execution(* com.njust.lucene.action.EmployeeAction.findAll())"></aop:around>-->
    <!--<aop:around method="around" pointcut="execution(* com.njust.lucene.action.DepartmentAction.findAll())"></aop:around>-->
    <!--</aop:aspect>-->
    <!--</aop:config>-->
</beans>